# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
htmlcov/
.nox/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
